/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use "./app/components/layout/layout-component.theme";
@use "./app/components/dashboard/dashboard-component.theme";
@use "./app/components/feed/feed-component.theme";
@use "./app/components/feed/feed-select-principles/feed-select-principles-component.theme";



@include mat.core();

$site_theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (
        scale: 0,
      ),
    )
);

:root {
  //@include mat.core-theme($site_theme);
  @include mat.all-component-bases($site_theme); // TODO REMOVE THIS AND REPLACE BY CORE-THEME
  // Components themes
  @include layout-component.theme($site_theme);
  @include dashboard-component.theme($site_theme);
  @include feed-component.theme($site_theme);
  @include feed-select-principles-component.theme($site_theme);


}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}
